
/__pycache__
__pycache__/application.cpython-311.pyc
__pycache__/pieces.cpython-311.pyc
.idea/misc.xml
.idea/Chess.iml
__pycache__/pieces.cpython-311.pyc
__pycache__/application.cpython-311.pyc
.idea/misc.xml
.idea/Chess.iml
